<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <div class="row">
    <div class="col-md-6">
      <h1><%= @company.title %></h1>
      <p><%= @company.description %></p>
    </div>
    <div class="col-md-6">
      <%= link_to "Upload Receipt", upload_receipt_path(@company), class: 'btn btn-info' %>
      <%= link_to "Rate", rate_company_path(@company), class: 'btn btn-success' %>
    </div>
  </div>
  <div class="row">
    <h2>Ratings</h2>
    <%= simple_form_for @rating do |f| %>
      <% @columns.each do |column| %>
        <div class="col-md-6">
          <%= f.input column, collection: [[1, '1'] ,[2, '2'],[3, '3'],[4, '4'],[5, '5']], as: :radio_buttons,  :item_wrapper_class => 'radio-inline' %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<br>
<%# link_to 'Edit', edit_company_path(@company) %>
<%# link_to 'Back', companies_path %>
